@if (items().length === 0) {
<app-estado-vacio [icono]="'bi-cart-x'" [mensaje]="'Tu carrito está vacío.'">
</app-estado-vacio>
}
@else {
<ul class="list-group shadow-sm rounded-3">

  @for (item of items(); track item.pizza.nombre) {
  <app-resumen-pedido-item [item]="item"></app-resumen-pedido-item>
  }

  <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
    <span class="fw-bold fs-5 text-primary">TOTAL</span>
    <span class="fw-bold fs-5 text-primary">
      {{ totalPedido() | number: '1.2-2' }} €
    </span>
  </li>
</ul>
}